@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");
$largeMobile: 650px;
$tablet: 1000px;
$desktop: 1400px;
$largeDesktop: 1800px;
$headingFont: "Neue Machina", sans-serif;
$font: "Inter", sans-serif;
$accentColour: #ff9633;

@font-face {
  font-family: "Neue Machina";
  src: url("../assets/Font/PPNeueMachina-InktrapRegular.otf");
}
